html{
  font-family: sans-serif;
  text-align: center;
}
body{
  background-image:url(background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  
}
#left{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 0px;
  width: 20%;
  background-color: navy;
  color: white;
  text-align: center;
}
#left>div:last-of-type{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin:auto
}
#left>div:last-of-type img{
  width: 30px;
  height: 20px;
  margin: 30px 10px 0 30px;
  
}


#profile{
  border-radius: 50%;
  height: 50%;
  width: 70%;
  border: 7px gray solid;
}

nav>a{
  display: block;
  text-align: center;
  margin-top: 20%;
  color: white;
}
nav>a:hover{
  color: green;
}
#middle{
  
  color: white;
  font-weight: bold;
  text-align: center;
  
}
#middle>p{
  font-size: 30px;
}
marquee{
  width: 50%;
  font-size: 40px;
  animation: 10s infinite ;
  
}
#middle>button{
  color: blue;
  background-color: transparent;
  font-size: 20px;
  border: 2px blue solid;
  border-radius: 30%;
  height: 50px;
  width: 120px;
}
#about{
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 200px;
}
#about>div{
  display: flex;
  flex-direction: row;
}
#about>hr:first-of-type{
  width: 100px;
  color: blue;
  
}

#hi{
  text-align: center;
  margin-left: 200px;
  height: 500px;
  width: 60%;
  padding-left: 20px;
  font-size: 20px;
  margin-right: 40px;
  
}
#hi>p{
  text-align: left;
  padding-left: 60px;
  line-height: 40px;
  
}
#name{
  font-weight: bold;
  text-align: left;
}
#name hr{
  color: gray;
  height: 1px;
}
#name>p:first-of-type{
  margin-top: 30px;
}
#name *{
  margin-top: 20px;
  
}
a>button{
  background-color: blue;
  color: white;
  font-size: 18px;
  height: 80px;
  width: 150px;
  border-radius: 30%;
}
#proj-div{
  background-color: gray;
  padding-bottom: 50px;
  margin-left: 260px;
  overflow-y: hidden;
  overflow-x: hidden;
  
}
#proj-div>div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: inherit;
  width: 100%;
}
#proj-div>div img{
  width: 500px;
 
}